[project]
name = "adaptivegraph"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "numpy>=1.24.0",
]

[project.optional-dependencies]
dev = [
    "langgraph>=0.2.0",
    "pytest",
    "matplotlib",
    "jupyter"
]
